[Unit]
Description=Load firmware into BCM20715A1 bluetooth chip

[Service]
Type=simple
ExecStartPre=/bin/sleep 8
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/usr/bin/brcm_patchram_plus --enable_lpm --enable_hci --no2bytes --patchram /vendor/firmware/BCM20715A1.hcd /dev/ttyHS99

[Install]
WantedBy=basic.target
