on init
    # Required to fix some symbolic links in wcnss firmware files.
    mkdir /mnt/vendor/
    symlink /persist /mnt/vendor/persist

    write /dev/wcnss_wlan 1

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    setprop sys.hwc.gpu_perf_mode 1

    write /sys/class/leds/vibrator/trigger "transient"
    chown system root /sys/class/leds/vibrator/trigger
    chown system root /sys/class/leds/vibrator/activate
    chown system root /sys/class/leds/vibrator/brightness
    chown system root /sys/class/leds/vibrator/duration
    chown system root /sys/class/leds/vibrator/state
    chown system root /sys/class/timed_output/vibrator/enable

    load_system_props
    restorecon_recursive /persist

    # Needed to allow the launcher to talk to the hwbinder.
    chown system root /dev/hwbinder
    chown system root /dev/vndbinder

    chmod 777 /dev/hwbinder
    chmod 777 /dev/vndbinder

    mkdir /data/

    class_start core
    class_start hal

service rmt_storage /vendor/bin/rmt_storage
    class core

service vendor.bluetooth-1-0 /vendor/bin/hw/android.hardware.bluetooth@1.0-service-qti
    class hal
    oneshot

service vendor.sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service
    class hal
    oneshot

service deamonserver /system/bin/deamonserver
    class core
    oneshot
