on init
    write /sys/devices/platform/soc/4080000.qcom,mss/subsys2/restart_level "RELATED"
    write /sys/kernel/boot_adsp/boot 1

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    setprop sys.hwc.gpu_perf_mode 1

    chown system root /sys/class/timed_output/vibrator/enable

    load_system_props
    restorecon_recursive /persist

    mkdir /data/

    setprop init.svc.bluetooth running

    class_start core
    class_start hal

service rmt_storage /vendor/bin/rmt_storage
    class core

service sensors /vendor/bin/sensors.qcom
    class core 
    oneshot



service config_bt_addr /vendor/bin/btnvtool -O
    class core
    oneshot

service bt /vendor/bin/android.hardware.bluetooth@1.0-service-qti
    class core
    oneshot

service wcnss_service /vendor/bin/wcnss_service
    class core
    user root
    oneshot