on init
    write /sys/devices/platform/soc/4080000.qcom,mss/subsys1/restart_level "RELATED"
    write /sys/kernel/boot_adsp/boot 1

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    chown system root /sys/class/timed_output/vibrator/enable

    class_start core

service logd /system/bin/logd
    class core
    socket logd stream 0666 root root
    socket logdr seqpacket 0666 root root
    socket logdw dgram 0222 root root

service servicemanager /system/bin/servicemanager
    class core

service rmt_storage /system/bin/rmt_storage
    class core

service sensors /system/bin/sensors.qcom
    class core