on init
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys4/restart_level "RELATED"

    # Required to fix some symbolic links in wcnss firmware files.
    mkdir /mnt/vendor/
    symlink /persist /mnt/vendor/persist

    mkdir /data/
    mkdir /data/vendor/
    mkdir /data/vendor/ssrdump/
    mkdir /data/vendor/bgdaemon/

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    setprop sys.hwc.gpu_perf_mode 1

    write /sys/class/leds/vibrator/trigger "transient"
    chown system root /sys/class/leds/vibrator/trigger
    chown system root /sys/class/leds/vibrator/activate
    chown system root /sys/class/leds/vibrator/brightness
    chown system root /sys/class/leds/vibrator/duration
    chown system root /sys/class/leds/vibrator/state
    chown system root /sys/class/timed_output/vibrator/enable

    load_system_props
    restorecon_recursive /persist

    # Needed to allow the launcher to talk to the hwbinder.
    chown system root /dev/hwbinder
    chown system root /dev/vndbinder

    chmod 777 /dev/hwbinder
    chmod 777 /dev/vndbinder
    chmod 777 /dev/mdss_rotator
    chmod 777 /sys/devices/platform/soc/soc:qcom,bg-rsb/enable

    mkdir /data/

    # Start critical services first.
    start servicemanager
    start hwservicemanager
    start vndservicemanager
    class_start core
    class_start hal

service vendor.rmt_storage /vendor/bin/rmt_storage
    class core

service vendor.bluetooth-1-0 /vendor/bin/hw/android.hardware.bluetooth@1.0-service-qti
    class hal
    oneshot

service vendor.per_mgr /vendor/bin/pm-service
    class core

service sidekickgraphics-hal-1-2 /vendor/bin/hw/vendor.qti.hardware.sidekickgraphics@1.2-service
    class hal

on property:sys.boot_completed=1
    exec -- /vendor/bin/init.rsb.sh
