[Unit]
Description=msm-fb-refresher updates the framebuffer on qualcomm devices
Wants=systemd-udev-settle.service
After=local-fs.target systemd-udev-settle.service systemd-tmpfiles-setup.service
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/msm-fb-refresher

[Install]
WantedBy=graphical.target
