on init
    write /sys/devices/platform/soc/4080000.qcom,mss/subsys0/restart_level "RELATED"
    write /sys/kernel/boot_adsp/boot 1

    write /sys/devices/virtual/input/mxt_touch/check_fw "1"
    write /sys/devices/sop716/motor_move_all "45:135"
    write /sys/devices/sop716/watch_mode "1"
    write /sys/devices/sop716/tz_minutes 0

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    setprop sys.hwc.gpu_perf_mode 1

    write /sys/class/leds/vibrator/trigger "transient"
    chown system root /sys/class/leds/vibrator/trigger
    chown system root /sys/class/leds/vibrator/activate
    chown system root /sys/class/leds/vibrator/brightness
    chown system root /sys/class/leds/vibrator/duration
    chown system root /sys/class/leds/vibrator/state
    chown system root /sys/class/timed_output/vibrator/enable

    chmod 222 /sys/devices/sop716/motor_move_all
    chmod 222 /sys/devices/sop716/motor_move
    chmod 222 /sys/devices/sop716/motor_init
    chmod 666 /sys/devices/sop716/watch_mode
    chmod 444 /sys/devices/sop716/position
    chmod 666 /sys/devices/sop716/self_test

    load_system_props
    restorecon_recursive /persist

    mkdir /data/

    setprop init.svc.bluetooth running

    class_start core

service logd /usr/libexec/hal-droid/system/bin/logd
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    group logd system readproc

service rmt_storage /vendor/bin/rmt_storage
    class core

service sensors /vendor/bin/sensors.qcom
    class core
    oneshot

service servicemanager /usr/libexec/hal-droid/system/bin/servicemanager
    setenv LD_PRELOAD /usr/libexec/hal-droid/system/lib/libselinux_stubs.so
    class core

service hwservicemanager /system/bin/hwservicemanager
    setenv LD_PRELOAD /usr/libexec/hal-droid/system/lib/libselinux_stubs.so
    class core

service bt /vendor/bin/hw/android.hardware.bluetooth@1.0-service
    class core
    oneshot
