on init
    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    chown system root /sys/class/timed_output/vibrator/enable

    load_system_props

    mkdir /data/

    class_start core

service logd /usr/libexec/hal-droid/system/bin/logd
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    group logd system readproc

service logcat /system/bin/logcat -f /dev/kmsg
    class core

service servicemanager /usr/libexec/hal-droid/system/bin/servicemanager
    setenv LD_PRELOAD /usr/libexec/hal-droid/system/lib/libselinux_stubs.so
    class core

service sensorhd /system/bin/shd
    class core

service bt_vendor /system/bin/bt_vendor.sh
    class core
    oneshot

service hwservicemanager /system/bin/hwservicemanager
    setenv LD_PRELOAD /usr/libexec/hal-droid/system/lib/libselinux_stubs.so
    class core
service configstore-hal-1-0 /vendor/bin/hw/android.hardware.configstore@1.0-service
    class core

service gralloc-2-0 /vendor/bin/hw/android.hardware.graphics.allocator@2.0-service
    capabilities SYS_NICE
    class core
