[Unit]
Description=Load firmware into broadcom bluetooth chip

[Service]
Type=simple
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/usr/bin/brcm_patchram_plus --baudrate 3000000 --enable_lpm --enable_hci --no2bytes --patchram /system/etc/firmware/bt/BCM4343A1_001.002.009.0031.0097.hcd /dev/ttyHS0

[Install]
WantedBy=basic.target
