[Unit]
Description=Load firmware into BCM20715A1 bluetooth chip
After=basic.target
After=suspend.target
After=hibernate.target

[Service]
Type=simple
ExecStart=/usr/bin/patchram.sh

[Install]
WantedBy=basic.target
WantedBy=suspend.target
WantedBy=hibernate.target
