[Unit]
Description=Load the wlan kernel module
After=local-fs.target

[Service]
Type=simple
ExecStart=/sbin/modprobe wlan

[Install]
WantedBy=basic.target

