on init
    chown system root /dev/pvrsrvkm
    chown system root /dev/pvr_sync

    chown system root /sys/devices/platform/omapdss/display0/vsync_events_enabled
    chown system root /sys/devices/platform/omapdss/display0/interactivemode
    chown system root /sys/devices/ocp.2/i2c.8/i2c-2/2-0036/alert_threshold
    chown system root /sys/devices/0.c55-ctrl/enable
    chown system root /sys/devices/0.bq5105x-ctrl/charge_reduce/value
    chown system root /sys/devices/ocp.2/i2c.6/i2c-0/0-004a/interactivemode
    chown system root /sys/class/leds/lcd-backlight/interactive

    mkdir /dev/graphics/
    symlink /dev/fb0 /dev/graphics/fb0
    chown system root /sys/class/timed_output/vibrator/enable

    mkdir /data/ 0770 root root
    mkdir /data/adspd/ 0770 root root
    mkdir /data/adspd/1/ 0770 root root

    # Needed by adspd to verify the DSP flash.
    mkdir /dev/mtd/
    symlink /dev/mtd0 /dev/mtd/mtd0

    # TCMD Engine Support
    chown system root /dev/mmcblk0p7
    chmod 660 /dev/mmcblk0p7
    write /proc/config/reload 1

    load_system_props

    class_start core

service logd /usr/libexec/hal-droid/system/bin/logd
    class core
    socket logd stream 0666 root root
    socket logdr seqpacket 0666 root root
    socket logdw dgram 0222 root root

service servicemanager /usr/libexec/hal-droid/system/bin/servicemanager
    class core

service pvrsrv /system/bin/pvrsrvctl_SGX530_125 --start --no-module
    class core
    oneshot

service adspd /system/bin/adspd /dev/ttyO0
    class core
    socket adspdsock stream 0660 system audio
