[Unit]
Description=Dace Halium-13 container rootfs (loop-mount android-rootfs.img)
DefaultDependencies=no
After=dace-vendor-mount.service
Before=dace-lxc-android.service local-fs.target
RequiresMountsFor=/var/lib/lxc/android

[Mount]
What=/var/lib/lxc/android/android-rootfs.img
Where=/var/lib/lxc/android/rootfs
Type=ext4
Options=loop,ro,nosuid,nodev

[Install]
WantedBy=local-fs.target
